/*table*/

.title{
    font-family:'Roboto',sans-serif;
    color: var(--purple-color);
    font-weight:500;
    font-size: 20px;
    margin-bottom: 0%;
    
}
.rdt_TableCol{
    color: var(--text-color);
    font-weight: bold;
    font-size: medium;
    border-bottom: 1px solid var(--purple-color);
    border-top: 1px solid var(--purple-color);
}
.outer-data-table{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2% 0%;
}
nav{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
}
.pagination{
    height: 36px !important; 
    float: right;
}
.pagination .active{
    padding: 0px 10px !important;
}
.rdt_TableHeader{
    border-bottom: 1px solid #8C8FFF;
}
.btnTable{
    background-color: #8C8FFF !important;
    color: white !important;
    margin: 0% 2% 5% 2%;
    /* width: 40%; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    
}

.rdt_TableRow{
    padding: 1% 0%;

}
  .btnHeader{
    position: absolute;
    display: flex;
    right: 6%;
    top: 20%;
  }
  .nextIconColor{
color: red;
  }
  .previousIconColor{
color: blueviolet;
  }
  .page-link{
    border: none;
  }
  .page-link:focus{
    box-shadow: none;
    margin: 0px;
  }
  .page-item:last-child .page-link{
    padding: 4px 4px 3px 4px;
    margin-left: 4px;
  }
  .page-item:first-child .page-link{
    padding: 4px 4px 3px 4px;
    margin-right: 4px;
  }
  .kDEcCH{
display: flex !important;
justify-content: left !important;
  }
  @media only screen and (min-width: 1300px) and (max-width: 1460px) {
    .pagination {
       padding-top: 10px;
    }
}
