.dropdown-title{
    font-weight: 700;
    text-align: start;
}
.site-dropdown{
    margin-bottom: 10px;
}
.hbotQl {
    overflow: visible !important;
}
.shift-data-table .dtqzBx div:first-child {
    padding-left: 16px !important;
}
